.livre-populaire {
    text-align: center;
    color: #1B0773;
}

.informations {
    display: inline-block;
    padding: 8px 16px;

    background-color: #966a81;
    color: #fff;
    border: none;
    border-radius: 10px;

    font-size: 14px;
    text-align: center;
    white-space: nowrap;
    cursor: pointer;
}

.informations:hover {
    background-color: #B28D91;
}

.section-populaire {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    margin: 40px 0;
}

.voir-plus {
    display: flex;
    align-items: center;
    gap: 10px;
}

.auteur-jour {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    padding: 2em;
    background-color: #faedcd;
    text-align: center;
    color: #1B0773;
}

.auteur-jour img {
    display: block;
    width: 100%;
    max-width: 150px;
    height: auto;
    object-fit: cover;
}

.auteur {
    padding: 60px;
}
