.formulaire {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #38a3a5;
}

#ajoutLivre {
    display: flex;
    flex-direction: column; /* empile les éléments */
    gap: 10px;              /* espace entre chaque champ */
    width: 100%;
    max-width: 400px;
    align-items: center;
}

#ajoutLivre img {
    width: 100%;
    height: auto;           /* hauteur automatique pour garder le ratio */
    object-fit: cover;      /* ou 'contain' selon vos besoins */
    display: block;
}
