.coeur-btn {
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
}

.coeur-btn img {
    width: 25px;
    height: 25px;
    object-fit: contain;
    background-color: #E4CFBB;
    transition: transform 0.2s ease-in-out;
}

.coeur-btn:hover img {
    transform: scale(1.1);
}
