.star-rating {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
}

.star-rating input {
    display: none;
}

.star-rating label {
    cursor: pointer;
    font-size: 2rem;
    color: #8e9aaf;
}

/* Étoiles sélectionnées */
.star-rating input:checked ~ label {
    color: #006d77;
}

/* Effet au survol */
.star-rating label:hover,
.star-rating label:hover ~ label {
    color: #83c5be;
}
