/*Minimisé*/
/*Petite taille, format portrait, adapté au tactile.*/
@media screen and (max-width:768px) and (orientation: portrait) and (pointer: coarse){
}
/*Minimisé*/
/*Grande taille, format paysage.*/
@media screen and (min-width: 1024px) and (orientation: landscape){
}
/*Minimisé*/
body{
    background-color: #faedcd; 
    font-family: 'quicksand', Arial, sans-serif; 
}
/*Minimisé*/
.menu{
    display: flex;
    width: 100%;
    height: 125px; 
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    list-style: none;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    color: white;
    text-decoration: none;
}
/*Minimisé*/
.menu-list {
    width: 100%;
    height: 125px;
}
/*Minimisé*/
.menu-list li {
    height: 125px;
}
/*Minimisé*/
.menu-list a {
    justify-content: center;
    height: 100%;
    flex-direction: column;
}
/*Minimisé*/
.menu-profil, .sous-menu-profil { background-color: #B28D91; }
.menu-objectifs, .sous-menu-objectifs { background-color: #AF8890; }
.menu-livres, .sous-menu-livres { background-color: #AB828E; }
.menu-citations, .sous-menu-citations { background-color: #A87D8D; }
.menu-calendrier, .sous-menu-calendrier { background-color: #A4778B; }
.menu-connexion, .sous-menu-connexion { background-color: #9d7186; }
.menu-parametres, .sous-menu-parametres { background: #966a81; }
/*Minimisé*/
.menu-objectifs,
.menu-livres,
.menu-citations,
.menu-calendrier,
.menu-connexion {
  flex: 1;
  position: relative;
}
/*Minimisé*/
.menu-profil a,
.menu-objectifs a,
.menu-livres a,
.menu-citations a, 
.menu-calendrier a, 
.menu-connexion a, 
.menu-parametres a {
    display: flex;
    align-items: center; 
    font-size: 20px;
}
/*Minimisé*/
.menu-profil,
.menu-parametres {
    width: 125px;
    height: 125px;
}
/*Minimisé*/ 
.menu-profil a img {
    margin-top: 15px;
    width: 60px;
    height: auto;
}
/*Minimisé*/  
.menu-profil p{
    padding: 0px;
    margin: 2px;
}
/*Minimisé*/ 
.menu-parametres a img {
    margin-top: 15px;
    width: 60px;        
    height: auto;     
}
/*Minimisé*/ 
.sous-menu-profil, 
.sous-menu-objectifs,
.sous-menu-livres,
.sous-menu-citations,
.sous-menu-calendrier,
.sous-menu-connexion,
.sous-menu-parametres {
    display: none;              
    position: absolute;        
    top: 100%;                 
    left: 0;
    width: 100%;               
    list-style: none;
    margin: 0;
    padding: 0;
}
/*Minimisé*/ 
.menu-profil:hover .sous-menu-profil, 
.menu-objectifs:hover .sous-menu-objectifs,
.menu-livres:hover .sous-menu-livres,
.menu-citations:hover .sous-menu-citations,
.menu-calendrier:hover .sous-menu-calendrier,
.menu-connexion:hover .sous-menu-connexion {
    display: flex;              
    flex-direction: column;     
    align-items: stretch;       
}
/*Minimisé*/ 
.sous-menu-profil li a,
.sous-menu-objectifs li a,
.sous-menu-livres li a,
.sous-menu-citations li a,
.sous-menu-calendrier li a,
.sous-menu-connexion li a,
.sous-menu-parametres li a {
    font-size: 18px;
}

.navbar-vertical {
    position: fixed;
    top: 120px;
    left: 0;
    width: 150px;
    height: 100vh; 
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    font-weight: bold;
}
  
.navbar-vertical a {
    color: #966a81;
    padding: 13px;
    text-decoration: none;
    transition: background-color 0.3s;
}

.navbar-vertical a img{
    height: 35px;
    width: 35px;
}

.rechercher {
    height: 60px;
    background-color: #966a81;
    display: flex;
    align-items: center; 
    justify-content: space-between; 
    padding: 10px 20px; 
    box-sizing: border-box; 
    margin: 35px 300px;
    border-radius: 10px;
}

.rechercher input[type="text"] {
    width: 60%; 
    height: 65%; 
    padding: 5px;
    font-size: 16px;
    border: none;
    border-radius: 10px;
    color: black;
}

.rechercher button.rechercher-btn {
    width: 40%; 
    height: 100%; 
    background-color: #966a81;
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-size: 16px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.rechercher button.rechercher-btn:hover {
    background-color: #A87D8D;
    color: white;
} 

li{
    list-style:none !important; 
    font-size:22px;
    text-align: center;
}
     
nav ul{
    display: flex; 
    padding:0;
    margin:0;
}
       
nav ul li{
    margin: auto;
    float:none;
    position: relative; 
    padding:0;
    margin:0;
    list-style: none;
}

nav ul li ul {
    display: none;
    position: absolute;
    top: 125px; 
    left: 0;
}

nav ul li:hover ul, 
nav ul li ul:hover {
    display: block;
    z-index: 99999;
}

nav ul li a{
    color: #FFF;
    text-decoration: none;
}
  
li a:hover{
    border-bottom: 5px #FFF solid;
}
  
nav ul li:hover ul{ 
    list-style: none !important;
    z-index: 99999;
    display: list-item !important;
    position: absolute;
    margin-left: -10px;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(6, 1fr); 
    gap: 35px;
    padding: 60px; 
    box-sizing: border-box;
}

.item {
    background-color: #E4CFBB; 
    border: 5px solid #966a81; 
    text-align: center; 
    color: #1B0773;
    font-size: 17px;
    min-width: 150px; 
    min-height: 150px;
    display: flex;
    flex-direction: column;
    justify-content: space-between; 
    align-items: center; 
    box-sizing: border-box; 
    padding: 10px;
}

.item img {
    max-width: 100%; 
    max-height: 100%; 
    margin: auto; 
    display: block;
    background-color: #fff; 
}

.star-rating {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
}

.star-rating input[type="radio"] {
    display: none; 
}

.star-rating label {
    font-size: 2rem;
    color: #8e9aaf;
    cursor: pointer;
}

.star-rating input[type="radio"]:checked ~ label {
    color: #006d77; 
}

.star-rating label:hover,
.star-rating label:hover ~ label {
    color: #83c5be; 
}

.select{
    appearance: none;
}

.timer-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: #EAE0D7;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
    margin: 140px auto 0 auto; 
    text-align: center;
}

#timer {
    font-size: 48px;
    margin-bottom: 20px;
    color: #1B0773;
}

.button-group {
    margin-bottom: 15px;
}

.button-group button,
.button-group input {
    margin: 5px;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid #ccc;
    background-color: #eee;
    cursor: pointer;
}

.button-group button:disabled {
    background-color: #ddd;
    cursor: not-allowed;
}

.button-group input[type="text"] {
    width: 200px;
}

#resetBtn:disabled{
    background-color: white;
    color: #865b75;
    border: 2px solid #865b75;
}

#resetBtn{
    background-color: #865b75;
    color: white;
    border: 2px solid #865b75;
}

#resetBtn:hover:not(:disabled) {
    background-color: #966a81; 
    color: white;    
    border: 2px solid #966a81; 
}

#stopBtn{
    background-color: #AA6369;
    color: white;
    border: 2px solid #AA6369;
}

#stopBtn:disabled{
    background-color: white;
    color: #AA6369;
    border: 2px solid #AA6369;
}

#stopBtn:hover:not(:disabled) {
    background-color: #B17176; 
    color: white;             
    border: 2px solid #B17176; 
}

#startBtn{
    background-color: #728270;
    color: white;
    border: 2px solid #728270;
}

#startBtn:disabled{
    background-color: white;
    color: #728270;
    border: 2px solid #728270;
}

#startBtn:hover:not(:disabled) {
    background-color: #7E8D7C; 
    color: white;           
    border: 2px solid #7E8D7C; 
}

#Ajoutertemps{
    background-color: #DDA455;
    color: white;
}

footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 2em;
    background-color: #faedcd;
    text-align: center;
}
  
.footer {
    font-family: 'quicksand', Arial, sans-serif;
    margin-bottom: 1em;
}
  
.footer-button {
    padding: 0.75em 1.5em;
    background-color: #966a81;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1em;
}

.footer-button:hover {
    background-color: #A87D8D;
    color: white;
}

.galerie {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr)); 
    gap: 16px;
    padding: 0 16px;
    margin: 0;
    margin-left: 160px; 
    box-sizing: border-box;
}
  
.galerie img {
    width: 100%; 
    height: auto;
    object-fit: cover;
    display: block;
}
  
.livre-populaire{
    text-align: center;
    color: #1B0773;
}
  
.informations {
    display: inline-block;       
    width: auto;                 
    height: auto;                
    background-color: #966a81;
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-size: 14px;
    padding: 8px 16px;          
    text-align: center;
    white-space: nowrap;        
}

.informations:hover {
    background-color: #B28D91; 
    color: white;         
}

.section-populaire {
    display: flex;
    flex-direction: column;
    align-items: center; 
    gap: 10px;      
    margin: 40px 0;       
}
  
.galerie-container {
    display: flex;
    align-items: center;
    position: relative;
    margin-left: 140px;
    overflow: hidden;
}
  
.fleche {
    font-size: 32px;
    color: #966a81;
    cursor: pointer;
    user-select: none;
    padding: 10px;
}
  
.fleche.gauche {
    margin-right: 10px;
}
  
.fleche.droite {
    margin-left: 10px;
}

.galerie-carousel {
    display: flex;
    overflow-x: auto;
    scroll-behavior: smooth;
    gap: 16px;
    padding: 10px;
    width: 100%;
}

.galerie-carousel img {
    width: 150px;
    height: auto;
    object-fit: cover;
}

.coeur-btn {
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
}
  
.coeur-btn img {
    background-color: #E4CFBB;
    transition: transform 0.2s ease;
    width: 25px;
    height: 25px;
}
  
.coeur-btn:hover img {
    transform: scale(1.1);
}

.coeur-img{
    width: 25px !important;
    height: 25px !important;
    object-fit: contain;
}

.voir-plus{
    display: flex;
    align-items: center;
    gap: 10px; 
}
  
.auteur-jour{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 2em;
    background-color: #faedcd;
    text-align: center;
    color: #1B0773;

}

.auteur-jour img{
    width: 100%;
    max-width: 150px;
    height: auto;
    object-fit: cover;
    display: block;
}

.auteur{
    padding: 60px; 
}

.discord-button img, .google-button img {
    width: 30px;
}

.discord-button:hover {
    background-color: #4752C4;
    transform: scale(1.05);
}

.footer-actions {
  display: flex;
  align-items: center;
  gap: 12px; 
  margin-top: 10px;
}

.google-button:hover {
    transform: scale(1.05);
}

.calendar {
    margin-left: 220px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 300px;
    background-color: #38a3a5;
    padding: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    color: #fff;
}

#daysContainer {
    margin-left: 220px;
    display: grid;
    grid-template-columns: repeat(7, 40px);
    grid-gap: 5px;
}

#daysContainer div {
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    border: 1px solid #ccc;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.1);
}

.fleches{
    background-color: #38a3a5;
    border: none;
    color: #fff;
}

.weekDaysContainer {
    margin-left: 220px;
    display: grid;
    grid-template-columns: repeat(7, 40px); /* même largeur que #daysContainer */
    grid-gap: 5px; 
    text-align: center;
    font-weight: bold;
    margin-top: 10px;
    margin-bottom: 10px;
}


/* Ajouter l'ombre lors du survol */
#daysContainer div:hover {
    box-shadow: 0 4px 15px rgba(56, 163, 165, 0.7); /* Bleu semi-transparent */
}

/* Style pour la journée actuelle */
.today {
    background-color: #fff !important; /* Couleur de fond jaune forcée */
    border: 2px solid #38a3a5 !important; /* Bordure orange forcée */
    font-weight: bolder;
    color: #38a3a5 !important; /* Texte en noir forcé */
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3); /* Ombre plus marquée */
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropbtn {
  background-color: #3498db;
  color: white;
  padding: 10px 15px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

.dropdown-content {
  display: none;
  position: absolute;
  background: white;
  min-width: 200px;
  max-height: 200px; /* Limite d’affichage (env. 5 éléments) */
  overflow-y: auto;  /* Ajoute le scroll si nécessaire */
  box-shadow: 0px 8px 16px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Ajout d'une pseudo-flèche quand ça dépasse */
.dropdown-content::after {
  content: "▼";
  position: absolute;
  bottom: 5px;
  right: 10px;
  font-size: 14px;
  color: gray;
  pointer-events: none; /* clics passent à travers */
}

.dropdown-content a {
  display: flex;
  align-items: center;
  padding: 8px 12px;
  text-decoration: none;
  color: black;
}

.dropdown-content a img {
  width: 20px;
  height: 20px;
  margin-right: 8px;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.youtube{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 2em;
    background-color: #faedcd;
    text-align: center;
    color: #1B0773;
}

#citations-page .item {
    min-height: 220px;
}

#citations-page.grid-container {
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 35px;          /* vous gardez le même espacement */
    padding: 60px;
}

 progress {
  -webkit-appearance: none; /* désactiver le style natif WebKit */
  appearance: none;         /* idem */
  width: 75%;
  height: 0.75rem;
  margin-top: 15px;
}

/* WebKit : Chrome, Edge, Safari */
progress::-webkit-progress-bar {
  background-color: #E4CFBB; /* fond */
  border-radius: 6px;
}
progress::-webkit-progress-value {
  background-color: #AA6369; /* barre */
  border-radius: 6px;
}

/* Firefox */
progress::-moz-progress-bar {
  background-color: #AA6369; /* barre */
  border-radius: 6px;
}

#registerForm, #loginForm{
    flex: 1 1 300px; 
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 2em;
    background-color: #faedcd;
    text-align: center;
}

.formulaire{
    padding-left: 150px;
    display: flex;
    flex-wrap: wrap;
}